@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --manrope-font: "Manrope", sans-serif;
  --primary-font: #01aab8;
  --primary-bg: #ffffff;
  --secondary-bg: #f3f6fc;
  --primary-input-bg: #c0cfe7;
  --primary-black: #000000;
  --hover-transition: all ease-in-out 0.3s;
  --default-card-gradient-one: linear-gradient(
    29deg,
    rgba(58, 104, 180, 1) 0%,
    rgba(29, 126, 253, 1) 50%,
    rgba(69, 252, 242, 1) 100%
  );

  --default-card-gradient-two: linear-gradient(
    29deg,
    rgba(180, 58, 135, 1) 0%,
    rgba(184, 1, 151, 0.7469581582633054) 50%,
    rgba(252, 190, 69, 1) 100%
  );
}

body {
  font-family: var(--manrope-font);
  background-color: var(--primary-bg);
}
