@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --manrope-font: "Manrope", sans-serif;
  --primary-font: #01aab8;
  --primary-bg: #ffffff;
  --secondary-bg: #f3f6fc;
  --primary-input-bg: #c0cfe7;
  --primary-black: #000000;
}

body {
  font-family: var(--manrope-font);
  background-color: var(--primary-bg);
}
