.profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 60%;
}

.header {
    margin: 25px;
    font-size: 20px;
}

.profile ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile ul li {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-top: 50px;
    justify-content: center;
}

.profile-buttons button {
    background-color: var(--primary-font);
    color: var(--primary-bg);
    width: max-content;
}

.profile-buttons .deactivate-btn {
    background-color: #e24949;
    border: 1px solid #e24949;
}

.input-err {
    color: red;
    font-size: 13px;
}

.profile select {
    cursor: pointer;
    background-color: var(--primary-input-bg);
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0.5rem;
}

.profile input {
    display: inline-block;
    line-height: inherit;
    vertical-align: inherit;
    color: inherit;
    background-color: var(--primary-input-bg);
    border: 1px solid var(--primary-input-bg);
    border-radius: 5px;
    padding: 0.4rem 0.5rem;
}

.profile p {
    padding: 0.4rem 0.5rem;
}

input[disabled] {
    border: 0;
    background-color: inherit;
}

.success-msg {
    background-color: #8ce4bf;
    width: 100%;
    padding: 8px;
    color: green;
    border-radius: 5px;
}

/* ! Hover */

.profile-buttons button {
    transition: var(--hover-transition);
}
@media (hover: hover) {
    .profile-buttons button:hover {
        transition: var(--hover-transition);
    }

    .profile-buttons button:hover {
        color: var(--primary-font);
        background-color: var(--secondary-bg);
    }

    .profile-buttons .deactivate-btn:hover {
        color: #e24949;
    }
}

@media screen and (max-width: 1200px) {
    .profile {
        width: 80%;
    }
}

@media screen and (max-width: 970px) {
    .profile {
        width: 95%;
        padding: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .profile {
        width: 100%;
        padding: 1rem;
    }

    .profile ul {
        gap: 3rem;
    }

    .profile ul li {
        grid-template-columns: auto;
        gap: 1rem;
    }
}
