.logo {
    width: 100%;
    height: auto;
    max-width: 180px;
    margin: 10px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--primary-bg);
    padding: 10px 14px;
    box-shadow: 0px 0px 5px -3px #000000;
}

.sidebar-items {
    margin-top: 30px;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 90px);
    display: flex;
    cursor: pointer;
    align-items: center;
}

.sidebar-items li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
}

.sidebar-items li a {
    display: flex;
    flex-direction: row;
    padding: 16px;
    align-items: center;
}

.sidebar-items li .icon {
    margin-right: 10px;
    display: inline;
    color: var(--primary-font);
}

.sidebar-items .item-name {
    color: var(--primary-black);
    font-size: 18px;
}

.sidebar li.active {
    background-color: var(--secondary-bg);
}

.logout-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}
/* ! Hover Effects */
.sidebar li {
    transition: var(--hover-transition);
}

@media (hover: hover) {
    .sidebar li:hover {
        transition: var(--hover-transition);
    }
    .sidebar li:hover {
        background-color: var(--secondary-bg);
    }
}
@media (max-width: 700px) {
    .sidebar {
        left: -250px;
        height: 100%;
        transition: 0.2s linear;
        z-index: 1000;
    }

    .sidebar.is-active {
        left: 0;
        position: fixed;
    }
}
