.menu-toggle {
    display: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: var(--primary-font);
    cursor: pointer;
    z-index: 2;
}

.dash-hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 29px;
}

.dash-hamburger>span,
.dash-hamburger>span::before,
.dash-hamburger>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 99px;
    background-color: #fff;
    transition-duration: 0.25s;
}

.dash-hamburger>span::before {
    content: "";
    top: -8px;
}

.dash-hamburger>span::after {
    content: "";
    top: 8px;
}

.menu-toggle.is-active .dash-hamburger>span {
    transform: rotate(45deg);
}

.menu-toggle.is-active {
    z-index: 4;
}

.menu-toggle.is-active .dash-hamburger>span::before {
    top: 0;
    transform: rotate(0deg);
}

.menu-toggle.is-active .dash-hamburger>span::after {
    top: 0;
    transform: rotate(90deg);
}

@media (max-width: 700px) {
    .menu-toggle {
        display: block;
    }
}