/* ! Landing Main */
.landing-main {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.highlight-title {
    color: var(--primary-font);
}

.tagline {
    font-weight: 800;
    letter-spacing: 1px;
}

/* ! Hero */

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.hero-form span {
    font-size: 0.7rem;
    font-weight: 600;
}

.hero-signup {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
}
.hero-input-error {
    position: absolute;
    top: 100%;
    color: red;
}

/* .hero-signup button, */
.hero-signup input {
    border: 1px solid var(--primary-black);
    border-radius: 5px;
    padding: 0.3rem 1rem;
}

.hero-signup button {
    background-color: var(--primary-font);
    color: var(--primary-bg);
}

.hero-signup input {
    outline-color: var(--primary-font);
}

.hero-signup button a {
    color: inherit;
}

/* ! Features */
.features {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.feature-content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 2rem;
    font-size: 1.5rem;
}

.features-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-btn {
    background-color: var(--primary-font);
    color: var(--primary-bg);
    width: max-content;
    font-size: 1rem;
}

.features-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 1rem;
    font-size: 1.2rem;
}

.features-list h3 {
    font-weight: 800;
    padding-bottom: 2rem;
}

/* ! CTA  */

.cta {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg);
    padding: 3rem;
}

.cta-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
}

.partners {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-bg);
    gap: 2rem;
}

.partners img {
    width: 8rem;
}

.cta-content button {
    color: var(--primary-bg);
    background-color: var(--primary-font);
}

/* ! App Features */
.app-features {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-align: center;
}

.app-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.app-icons img {
    width: 13rem;
    max-width: 100%;
}

/* ! Statisctics Preview */
.statisctics-preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
}

.statisctics-preview-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
}

.timeline {
    background: var(--primary-color);
    margin: 1.5rem auto;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.timeline-outer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-left: 2px solid var(--primary-black);
}

.card {
    position: relative;
    margin: 0 0 20px 20px;
    color: var(--primary-black);
    border-radius: 8px;
}

.title {
    color: var(--primary-black);
    position: relative;
}

.title::before {
    content: "📌";
    position: absolute;
    left: -2rem;
    font-size: 1.5rem;
    background-color: var(--primary-bg);
}

/* ! Testimonials */
.testimonials-preview {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testimonials-preview-content {
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
}

.testimonials-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.single-testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid var(--primary-black);
    padding: 2rem;
    border-radius: 5px;
}

.testimonial-rating {
    width: 7rem;
}

.testimonial-icon {
    width: 3rem;
    max-width: 100%;
    height: 3rem;
}

.testimonial-author {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

/* ! Pricing Preview */

.pricing-preview-content {
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
}
.old-pricing {
    color: orange;
    text-decoration: line-through;
}

.billing-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.billing-buttons button {
    background-color: transparent;
    border-color: var(--primary-font);
    color: var(--primary-font);
    border-style: solid;
    border-width: 1px;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
}
.plan-btn.active {
    background-color: var(--primary-font);
    color: var(--primary-bg);
}

.billing-buttons button:first-child {
    border-radius: 5px 0 0 5px;
    border-right: 0;
}

.billing-buttons button:last-child {
    border-radius: 0 5px 5px 0;
}

.pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    width: 75%;
    margin: 0 auto;
}

.basic-plan,
.business-plan {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid var(--primary-black);
    border-radius: 5px;
    padding: 1rem;
    padding-bottom: 5rem;
    font-size: 1.5rem;
}
.pricing-features-preview {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pricing-features-preview li {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    letter-spacing: 1px;
    align-items: center;
}

.pricing-features-preview li img {
    width: 1rem;
    height: 1.5rem;
}

.basic-plan h4,
.basic-plan h3,
.business-plan h4,
.business-plan h3 {
    font-size: 2rem;
}

.basic-plan button,
.business-plan button {
    background-color: var(--primary-font);
    color: var(--primary-bg);
}

/* ! Transitions */
.hero-signup button,
.feature-btn,
.cta button,
.basic-plan button,
.business-plan button {
    transition: var(--hover-transition);
}

@media (hover: hover) {
    .hero-signup button:hover,
    .feature-btn:hover,
    .cta button:hover,
    .basic-plan button:hover,
    .business-plan button:hover {
        transition: var(--hover-transition);
    }

    .hero-signup button:hover {
        background-color: var(--primary-bg);
        color: var(--primary-font);
    }

    .feature-btn:hover {
        background-color: var(--primary-bg);
        color: var(--primary-font);
    }

    .cta button:hover {
        color: var(--primary-font);
        background-color: var(--primary-bg);
    }

    .basic-plan button:hover,
    .business-plan button:hover {
        background-color: var(--primary-bg);
        color: var(--primary-font);
    }
}

@media screen and (max-width: 1200px) {
    .feature-content {
        flex-direction: column;
    }
    .features-list {
        column-gap: 3rem;
    }
    .pricing-grid {
        width: 90%;
        gap: 1rem;
    }
}
@media screen and (max-width: 970px) {
    .hero {
        grid-template-columns: 1fr;
    }
    .hero-content,
    .hero-form {
        align-items: center;
    }
    .hero-content .tagline {
        display: none;
    }
    .hero-content p {
        text-align: center;
    }
    .partners {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .pricing-grid {
        width: 100%;
    }
    .pricing-preview-content {
        padding: 1rem;
    }
}

@media screen and (max-width: 770px) {
    .features-list,
    .statisctics-preview,
    .testimonials-list,
    .pricing-grid {
        grid-template-columns: 1fr;
    }

    .title::before {
        left: -3rem;
    }
    .hero-content {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .app-features h2 {
        padding: 1rem;
    }
    .app-icons {
        flex-direction: column;
    }
}
