.accounts-dashboard {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    position: relative;
}

.acc-header {
    font-size: 25px;
}

.close-modal {
    position: absolute;
    font-size: 1.5rem;
    right: 5%;
    top: 3%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}

.accounts-and-cards {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
}

.accounts {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    row-gap: 4rem;
    flex-wrap: wrap;
}

/* ! Categories */
.accounts-categories {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 3rem;
}

.empty-category {
    background-color: var(--primary-bg);
    box-shadow: 0px 0px 5px -3px #000000;
    border-style: dashed;
    cursor: pointer;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-category img {
    width: 1.5rem;
}

.categories-card {
    background-color: var(--primary-bg);
    box-shadow: 0px 0px 5px -3px #000000;
    cursor: pointer;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.categories-card img {
    width: 100%;
    object-fit: cover;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 8rem;
}

/* ! Add Card Modal */

.add-card-modal::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
}

.add-card-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: -15px;
    z-index: 1000;
}

.add-card-popup,
.add-category-popup,
.view-category-popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: max-content;
    max-height: 100%;
    border-radius: 10px;
    width: 35rem;
    max-width: 100%;
    align-items: center;
    background-color: var(--primary-bg);
    margin-left: -250px;
    overflow: auto;
    gap: 2rem;
}

.add-card-popup::-webkit-scrollbar,
.add-category-popup::-webkit-scrollbar,
.view-category-popup:-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.add-card-popup h2,
.add-category-popup h2,
.view-category-popup h2 {
    font-weight: 400;
}

.add-card-popup form,
.add-category-popup form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    width: 80%;
    gap: 2rem;
}

.form-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background-color: var(--secondary-bg);
    padding: 2rem 1rem;
    gap: 1.5rem;
}

.form-inner > input {
    background-color: var(--primary-input-bg);
    border: 1px solid var(--primary-input-bg);
    border-radius: 5px;
    padding: 0.4rem 0.5rem;
    width: 70%;
}

.form-inner input::placeholder {
    color: var(--primary-black);
    font-family: ar(--manrope-font);
}

.form-inner .card-cover {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.add-card-amount {
    background-color: var(--primary-input-bg);
    border: 1px solid var(--primary-input-bg);
    border-radius: 5px;
    padding: 0.4rem 0.5rem;
    width: max-content;
}

.add-card-popup form > section select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background-color: var(--primary-input-bg);
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0.5rem;
}

.add-card-popup form > section select::-ms-expand {
    display: none;
}

.add-card-popup form button,
.add-category-popup form button,
.view-category-buttons button {
    background-color: var(--primary-bg);
    color: var(--primary-font);
    width: 50%;
}

/* ! Colors */
.add-card-colors {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-card-color {
    margin: 10px;
}

.add-card-color {
    display: inline-block;
    font-size: 0;
}

.sb-checkbox__input {
    display: none;
}

.sb-checkbox__input:checked + .sb-checkbox__label:after {
    opacity: 1;
}

.sb-checkbox__label {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
}

.sb-checkbox__label:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.sb-checkbox__label:after {
    content: "✔️";
    font-size: 13px;
    text-align: center;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transition: 0.2s opacity;
    color: white;
}

.sb-checkbox__label--blue:before {
    border-color: #7aa0da;
}

.sb-checkbox__label--blue:after {
    background-color: #7aa0da;
}

.sb-checkbox__label--purple:before {
    border-color: #b796d9;
}

.sb-checkbox__label--purple:after {
    background-color: #b796d9;
}

.sb-checkbox__label--lightpink:before {
    border-color: #e36cbb;
}

.sb-checkbox__label--lightpink:after {
    background-color: #e36cbb;
}

.sb-checkbox__label--pink:before {
    border-color: #dc5d8b;
}

.sb-checkbox__label--pink:after {
    background-color: #dc5d8b;
}

.sb-checkbox__label--red:before {
    border-color: #fa4242;
}

.sb-checkbox__label--red:after {
    background-color: #fa4242;
}

.sb-checkbox__label--orange:before {
    border-color: #fe9256;
}

.sb-checkbox__label--orange:after {
    background-color: #fe9256;
}

.sb-checkbox__label--yellow:before {
    border-color: #fae98f;
}

.sb-checkbox__label--yellow:after {
    background-color: #fae98f;
}

.sb-checkbox__label--green:before {
    border-color: #75e762;
}

.sb-checkbox__label--green:after {
    background-color: #75e762;
}

/* ! Add Category */

.add-category-modal::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
}

.add-category-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: -15px;
    z-index: 1000;
}

.add-category-popup input,
.add-category-popup textarea {
    background-color: var(--secondary-bg);
    border: 1px solid var(--secondary-bg);
    border-radius: 5px;
    padding: 0.4rem 0.5rem;
    width: 80%;
}

.add-category-popup input::placeholder,
.add-category-popup textarea::placeholder {
    color: var(--primary-black);
    font-family: var(--manrope-font);
}

/* ! View Category */

.view-category-modal::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
}

.view-category-popup:-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.view-category-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* ! Bank Cards */
.empty-card {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 15px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
    backface-visibility: hidden;
    background-image: linear-gradient(to right, #111, #555);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.empty-card img {
    width: 65px;
}
.bank-account-card {
    width: 350px;
    height: 240px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    background-color: white;
    border-radius: 10px;
}
.front {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 15px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
    backface-visibility: hidden;
    background-image: linear-gradient(to right, #111, #555);
    overflow: hidden;
}
.front {
    transform: translateZ(0);
}
.strip-bottom,
.strip-top {
    position: absolute;
    right: 0;
    height: inherit;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}
.strip-bottom {
    width: 200px;
    transform: skewX(-15deg) translateX(50px);
}
.strip-top {
    width: 180px;
    transform: skewX(20deg) translateX(50px);
}
.add-card-logo {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 2rem;
    cursor: pointer;
}
.investor {
    position: relative;
    top: 30px;
    left: 25px;
    text-transform: uppercase;
}
.chip {
    position: relative;
    top: 60px;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom left, #ffecc7, #d0b978);
    overflow: hidden;
}
.chip .chip-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #333;
}
.chip .chip-line:nth-child(1) {
    top: 13px;
}
.chip .chip-line:nth-child(2) {
    top: 20px;
}
.chip .chip-line:nth-child(3) {
    top: 28px;
}
.chip .chip-line:nth-child(4) {
    left: 25px;
    width: 1px;
    height: 50px;
}
.chip .chip-main {
    width: 20px;
    height: 25px;
    border: 1px solid #333;
    border-radius: 3px;
    background-image: linear-gradient(to bottom left, #efdbab, #e1cb94);
    z-index: 1;
}
.wave {
    position: relative;
    top: 20px;
    left: 100px;
}
.card-number {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 25px 15px;
    font-size: 23px;
}
.card-number section {
    position: relative;
    letter-spacing: 2.5rem;
}
.end {
    margin-left: 25px;
    text-transform: uppercase;
}
.card-holder {
    margin: 10px 25px;
    text-transform: uppercase;
}
.master {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
}
.master .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.master .master-red {
    background-color: #eb001b;
}
.master .master-yellow {
    margin-left: -10px;
    background-color: rgba(255, 209, 0, 0.6);
}
.add-card-logo {
    background: none;
    color: #fff;
    border: none;
    outline: none;
}

/* ! Hover Effects */

.bank-account-card,
.categories-card,
.add-card-popup form button,
.add-category-popup form button,
.view-category-buttons button,
.close-modal {
    transition: var(--hover-transition);
}

@media (hover: hover) {
    .bank-account-card:hover,
    .categories-card:hover,
    .add-card-popup form button:hover,
    .add-category-popup form button:hover,
    .view-category-buttons button:hover,
    .close-modal:hover {
        transition: var(--hover-transition);
    }

    .bank-account-card:hover,
    .categories-card:hover {
        box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
        -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
        -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
    }

    .add-card-popup form button:hover,
    .add-category-popup form button:hover,
    .view-category-buttons button:hover {
        color: var(--primary-bg);
        background-color: var(--primary-font);
    }

    .close-modal:hover {
        font-weight: 800;
    }
}

@media screen and (max-width: 970px) {
    .add-category-popup,
    .add-card-popup,
    .view-category-popup {
        width: 400px;
    }
    .add-category-popup form,
    .add-card-popup form,
    .view-category-popup form {
        width: 90%;
    }
    .add-card-colors {
        flex-wrap: wrap;
    }
    .categories {
        justify-content: space-between;
    }
}

@media screen and (max-width: 700px) {
    .add-category-popup,
    .add-card-popup,
    .view-category-popup {
        margin-left: 0;
    }

    .add-card-color {
        margin: 5px;
    }

    .accounts,
    .accounts-and-cards {
        align-items: center;
        justify-content: center;
    }

    .accounts-categories {
        text-align: center;
    }

    .add-category-popup,
    .add-card-popup,
    .view-category-popup {
        width: 500px;
    }
    .add-category-popup form,
    .add-card-popup form,
    .view-category-popup form {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .add-category-popup,
    .add-card-popup,
    .view-category-popup {
        width: 380px;
    }
    .add-category-popup form,
    .add-card-popup form,
    .view-category-popup form {
        width: 90%;
    }
    .form-inner {
        width: max-content;
    }
}
