a {
    text-decoration: none;
}
.hamburger {
    display: none;
}

.landing-header,
.navigation-menu,
.nav-action {
    display: flex;
    flex-direction: row;
}

.landing-header {
    padding: 1.5rem;
    justify-content: space-between;
    background-color: var(--primary-bg);
}
.landing-header.active-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding: 1.5rem;
    justify-content: space-between;
    top: 0;
}
.landing-header img:first-child {
    width: 13rem;
    max-width: 100%;
}

.nav-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}
.nav-section.active-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    position: fixed;
    height: 100vh;
    z-index: 1;
    top: 11%;
    right: 0;
    left: 0;
    padding-top: 2rem;
    background-color: var(--primary-bg);
    text-align: center;
    font-size: 1.5rem;
}
.nav-section.active-menu .navigation-menu {
    flex-direction: column;
}

.navigation-menu {
    gap: 1rem;
}

.navigation-menu li a {
    color: var(--primary-black);
}

.nav-action {
    gap: 1rem;
}

.nav-action button {
    border-radius: 5px;
    border: 1px solid var(--primary-font);
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.nav-action button:first-child {
    background-color: var(--primary-bg);
    color: var(--primary-font);
}

.nav-action button:first-child a {
    color: inherit;
}

.nav-action button:last-child {
    background-color: var(--primary-font);
    color: var(--primary-bg);
}

.nav-action button:last-child a {
    color: inherit;
}

/* ! Transitions */
.navigation-menu li a,
.nav-action button:first-child:hover,
.nav-action button:last-child:hover {
    transition: var(--hover-transition);
}

@media (hover: hover) {
    .navigation-menu li a:hover,
    .nav-action button:first-child:hover,
    .nav-action button:last-child:hover {
        transition: var(--hover-transition);
    }

    .navigation-menu li a:hover {
        color: var(--primary-font);
    }

    .nav-action button:first-child:hover {
        background-color: var(--primary-font);
        color: var(--primary-bg);
    }

    .nav-action button:last-child:hover {
        background-color: var(--primary-bg);
        color: var(--primary-font);
    }
}

@media screen and (max-width: 800px) {
    .nav-section {
        display: none;
    }
    .hamburger {
        display: block;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }
}
