.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__box {
    position: relative;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--primary-bg);
}

.modal__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.modal__sub_title {
    margin: 10px;
    text-align: center;
}

.modal__content {
    font-size: 16px;
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
}

.modal__content label {
    margin: 0 0 3px 0;
    display: block;
}

.modal__content input {
    width: 100%;
}

.modal__content .submit-btn {
    border-radius: 5px;
    border: 1px solid var(--primary-font);
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: var(--primary-font);
    color: var(--primary-bg);
    width: 100%;
    margin: 10px 0 10px 0;
}

.modal__close button {
    position: absolute;
    font-size: 1.5rem;
    right: 5%;
    top: 3%;
    background-color: transparent;
    border: none;
    opacity: 0.8;
    cursor: pointer;
}

.signup-btn {
    border: none;
    background-color: inherit;
    color: var(--primary-black);
}

.signin-forgotpass {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.forgot-pass-link {
    color: var(--primary-black);
    border: none;
    background-color: inherit;
    cursor: pointer;
}

/* ! Hover Effects */
.modal__close,
.forgot-pass-link,
.signup-btn {
    transition: var(--hover-transition);
}

@media (hover: hover) {
    .forgot-pass-link:hover,
    .modal__close:hover,
    .signup-btn:hover {
        transition: var(--hover-transition);
    }

    .modal__close:hover {
        font-weight: 800;
    }

    .forgot-pass-link:hover {
        color: var(--primary-font);
    }

    .signup-btn:hover {
        background-color: var(--primary-font);
        color: var(--primary-bg);
    }
}

@media screen and (min-width: 800px) {
    .modal__box {
        max-width: 600px;
        margin: 0 30px;
    }
}
